body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(175, 158, 175);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid rgb(197, 11, 82);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.clock {
  font-size: 1.5em;
  color: #77dd77;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.past {
  background-color: #a7a0a0;
  color: white;
}

.present {
  background-color: #c02c25;
  color: white;
}

.future {
  background-color: #21dd21;
  color: white;
}

.saveBtn {
  background-color: #45a5bb;
  color: white;
  
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}